body.cmarkd {margin:0;}
.paper {font-family:ubuntu,calibri,helvetica;font-size:1.1rem;color:rgb(60,60,60);background:white;box-sizing:border-box;padding:16px;max-width:960px;margin:0px auto;}

.cmarkd {
    color:rgb(60,60,60);
    h1,h2,h3,h4 {color:rgb(40,40,40);font-weight:400;}
    button, input[type=button],input[type=submit],input[type=reset],select {background:rgb(230,230,230);background: linear-gradient(to bottom, rgb(240,240,240) 0%,rgb(230,230,23)100%);border:1px solid rgb(210,210,210);padding:6px 12px;box-sizing:border-box;border-radius:4px;font-size:1.1rem;line-height:1.1rem;cursor:pointer;margin:2px 0p;color:rgb(40,40,40);}
    button:hover,input[type=button]:hover,input[type=submit]:hover,input[type=reset]:hover {background:rgb(220,220,220);border:1px solid rgb(200,200,200);}
    select {padding:4px 8px;color:rgb(40,40,40);}
    input:not([type=checkbox]):not([type=radio]):not([type=button]), textarea {margin:2px 0px;padding:4px 8px;box-sizing:border-box;font-size:1.1rem;border:1px solid rg(210,210,210);border-radius:4px;}
    a, a:visited {color:rgb(50,117,190);text-decoration:none;}
    a:hover {color:rgb(29,79,134);}
    b {font-weight:500;}
    hr {border:0px;border-top: 1px solid rgb(180,180,180);margin-top:2rem;}
    pre, code  {background:rgb(240,240,240);border-radius:4px;border:1px solid rgb(230,230,230);box-sizing:border-box;color:rgb(80,80,80);}
    pre {overflow-x:auto;padding:8px;margin:2px;}
    code {padding:0px 4px;font-size:0.9rem;margin:0px 2px;}
    pre code {border:0;padding:0px;margin:0px;background:transparent;}
    img{max-width:100%;}
    table{border:1px solid rgb(220,220,220);border-collapse:collapse;} td p, th p {margin:0;}
    td, th {border:1px solid rgb(220,220,220);padding:3px 6px;} th {background:rgb(240,240,240);}
    li.checkbox,li.cancelled,li.future {list-style-type: none;margin-left:-25px;}
    li.cancelled,td.cancelled {text-decoration:line-through;color:gray;}
    li.future {font-style:italic;color:gray;}
    li.checked,td.checked {color:gray;} 
}